/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* FONTS */

@font-face {
    font-family: 'bebas_neueregular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}





/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }


body {
  background: white;
  background-position:center; 
  background-repeat: no-repeat;
  background-size: cover;
 }


#outer {
  background-image:url('/assets/bg.jpg');
  background-size: 100% 100%;
  overflow: hidden;
}

#wrapper {

  width: 800px;
  margin: auto;
  /*-webkit-transform:rotate(-2deg);
  -moz-transform:rotate(-2deg);
  -o-transform:rotate(-2deg);
  -ms-transform:rotate(-2deg);
  transform:rotate(-2deg);*/
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; overf
   height: 0; 
   clear: both;
}

#header {
  /*margin-top: -20px; */
  background: #236c8f; /* Old browsers */
  background-image:url('/assets/header.png');
  background-size: 800px 100%;
  background-image:url('/assets/header.png'), -moz-radial-gradient(center top, ellipse cover,  #236c8f 18%, #103246 100%); /* FF3.6+ */
  background-image:url('/assets/header.png'), -webkit-gradient(radial, center top, 0px, center center, 100%, color-stop(18%,#236c8f), color-stop(100%,#103246)); /* Chrome,Safari4+ */
  background-image:url('/assets/header.png'), -webkit-radial-gradient(center top, ellipse cover,  #236c8f 18%,#103246 100%); /* Chrome10+,Safari5.1+ */
  background-image:url('/assets/header.png'), -o-radial-gradient(center top, ellipse cover,  #236c8f 18%,#103246 100%); /* Opera 12+ */
  background-image:url('/assets/header.png'), -ms-radial-gradient(center top, ellipse cover,  #236c8f 18%,#103246 100%); /* IE10+ */
  background-image:url('/assets/header.png'), radial-gradient(ellipse at center top,  #236c8f 18%,#103246 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#236c8f', endColorstr='#103246',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border-radius: 0 0 5px 5px;
  background-position: center top;
  padding: 10px 20px 0 20px;
  -webkit-box-shadow:  0px 10px 10px 5px rgba(0, 0, 0, .7);
  box-shadow:  0px 10px 10px 2px rgba(0, 0, 0, .7);
}

#header h1 {
  margin: 0px;
  font-family: bebas_neueregular;
  line-height: .8em;
  font-size: 80px;
  font-weight: bolder;
  color: rgb(229, 239, 230);
  width: 300px;
  text-align: left;
  text-transform: uppercase;
  text-shadow: 2px 10px 10px #000000;
  filter: dropshadow(color=#000000, offx=5, offy=5);


}

#header h3 {
  font-size: 23px;
  margin-top: 15px;
  text-align: left;
  text-transform: uppercase;
  -webkit-transform: scale(1,1.8);
  -moz-transform: scale(1,1.8);
  -o-transform: scale(1,1.8);
  -ms-transform: scale(1,1.8);
  transform: scale(1,1.8);

}

#header #logo {
  width: 300px;
  float: left;
}

#header #labels {
  width: 400px;
  float: right;
}

#header #labels img {
  height: 80px;
  display: block;
  margin: 0 0 10px auto;

}

#header #labels img:nth-child(2) {
  border: 2px solid black;

}

#content {
  margin: 50px auto;
  width: 100%;

}

#cover img{
  height: 315px;
}

#separator {
  display: inline-block;
  width: 1px;

}

#cover, #video{
  margin: 20px 0;
  text-align: center;
  display: inline-block;
  -webkit-transform-style: preserve-3d;
  -webkit-box-shadow: 5px 3px 15px 5px rgba(0, 0, 0, 0.7);
  box-shadow: 5px 3px 15px 5px rgba(0, 0, 0, 0.7);

}

#footer {
  width: 100%;
  position: relative;
  text-align: center;
  background: rgb(154,117,24); /* Old browsers */
  background-image:url('/assets/footer.png');
  background-size: 800px 100%;
  background-image:url('/assets/footer.png'), -moz-radial-gradient(center bottom, ellipse cover,  rgba(154,117,24,1) 0%, rgba(62,47,10,1) 100%); /* FF3.6+ */
  background-image:url('/assets/footer.png'), -webkit-gradient(radial, center bottom, 0px, center center, 100%, color-stop(0%,rgba(154,117,24,1)), color-stop(100%,rgba(62,47,10,1))); /* Chrome,Safari4+ */
  background-image:url('/assets/footer.png'), -webkit-radial-gradient(center bottom, ellipse cover,  rgba(154,117,24,1) 0%,rgba(62,47,10,1) 100%); /* Chrome10+,Safari5.1+ */
  background-image:url('/assets/footer.png'), -o-radial-gradient(center bottom, ellipse cover,  rgba(154,117,24,1) 0%,rgba(62,47,10,1) 100%); /* Opera 12+ */
  background-image:url('/assets/footer.png'), -ms-radial-gradient(center bottom, ellipse cover,  rgba(154,117,24,1) 0%,rgba(62,47,10,1) 100%); /* IE10+ */
  background-image:url('/assets/footer.png'), radial-gradient(ellipse at center bottom,  rgba(154,117,24,1) 0%,rgba(62,47,10,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a7518', endColorstr='#3e2f0a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}


#footer #navigation {
  margin: auto;
  text-align: left;
  display: inline-block;
  /* for ie6/7: */
  *display: inline;
  zoom: 1;
}

#footer #navigation li {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bolder;
  list-style: none;
}

#footer #navigation ul {
  margin: 20px;
  margin-bottom: 0px;
}

#footer #navigation #left{
  display: inline-block;
  float: right;
  text-align: right;
  color: #A5A4A2;
}

#footer #navigation #right{
  float: right;
  text-align: left;
  color: #1A516C;
}

#footer #icons {
  width: 300px;
  position: absolute;
  bottom: 15px;
  left: 50px;
}

#footer #icons img{
  height: 50px;
}

#footer #icons a img:hover{
  background: rgba(255, 255, 255, 0.5);
}